* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Liberation Mono;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

/*window#waybar {
  background: shade(alpha(@borders, 0.9), 1.25);
}*/

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
  background: rgba(77, 77, 77, 0.5);
}

#workspaces button {
  transition: none;
  color: #7c818c;
  background: transparent;
  padding: 5px;
  font-size: 18px;
}

#workspaces button.persistent {
  color: #7c818c;
  font-size: 12px;
}

/* hover fix */
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  color: rgba(77, 77, 77, 0.5);
  background: #7c818c;
}

#workspaces button.focused {
  color: white;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#mpris {
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#temperature {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#temperature.critical {
  background-color: #eb4d4b;
}

/*#network {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}*/

#clock {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#custom-pacman {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

#custom-launcher {
  font-size: 24px;
  margin-right: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #3385FF;
  background: rgba(77, 77, 77, 0.5);
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
  background: rgba(77, 77, 77, 0.5);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
