@define-color cursor     #ffb4ab;

@define-color background #1a1110;
@define-color foreground #f1dedc;

@define-color color0  #271d1c;
@define-color color1  #ffb4ab;
@define-color color2  #e7bdb8;
@define-color color3  #e0c38c;
@define-color color4  #ffb4ab;
@define-color color5  #5d3f3c;
@define-color color6  #ffb4ab;
@define-color color7  #d8c2bf;

@define-color color8  #534341;
@define-color color9  #93000a;
@define-color color10 #ffdad6;
@define-color color11 #fedfa6;
@define-color color12 #ffdad6;
@define-color color13 #442926;
@define-color color14 #3b0907;
@define-color color15 #f1dedc;

