@define-color cursor     {{colors.primary.default.hex}};

@define-color background {{colors.surface.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};

@define-color color0  {{colors.surface_container.default.hex}};
@define-color color1  {{colors.error.default.hex}};
@define-color color2  {{colors.secondary.default.hex}};
@define-color color3  {{colors.tertiary.default.hex}};
@define-color color4  {{colors.primary.default.hex}};
@define-color color5  {{colors.secondary_container.default.hex}};
@define-color color6  {{colors.primary_fixed_dim.default.hex}};
@define-color color7  {{colors.on_surface_variant.default.hex}};

@define-color color8  {{colors.surface_variant.default.hex}};
@define-color color9  {{colors.error_container.default.hex}};
@define-color color10 {{colors.on_secondary_container.default.hex}};
@define-color color11 {{colors.on_tertiary_container.default.hex}};
@define-color color12 {{colors.on_primary_container.default.hex}};
@define-color color13 {{colors.on_secondary.default.hex}};
@define-color color14 {{colors.on_primary_fixed.default.hex}};
@define-color color15 {{colors.on_surface.default.hex}};

